name: Lint and Type Check

on:
  push:
    paths:
      - "src/**"
    branches:
      - main
      - develop

  pull_request:
    types: [opened, synchronize]
    paths:
      - "src/**"
    branches:
      - main
      - develop

jobs:
  test-lint:
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Setup bun
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      # Install deps
      - name: Install dependencies
        run: bun install --frozen-lockfile

      # Run linter
      - name: Lint
        run: bun lint

      # Run type check
      - name: Type Check
        run: bun typecheck
